<form method="POST" id="fibo-form">


    <label for="inputnum">
        Enter a Number:
        <br>
    </label>
    <input type="number" name="yolo" id="inputnum" placeholder="Enter a number" class="search">
    <br>

    <div class="container">
        <button type="submit" class="btn">Calculate Finonnaci</button>
    </div>
</form>>