<main>

    <h1>{{title}}</h1>
    <p class="description">
        Search shows with help of keywords, with the help of the keywords it will give you the list of the shows related
        to the keyword and clicking on the any of the show wills show the details of that specific show.
    </p>
    <form action="/search" method="POST">
        <label for="showSearch" class="showkeyword">
            ShowKeyword: <br>
            <input type="text" name="yolo" id="showSearch" placeholder="Search show by Keywords" class="inputtext">
            <br> <br>
        </label>
        <button type="submit" class="btn">Search shows</button>
    </form>
</main>
<div></div>