<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibonacci</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>

<body>
    <header>
        <h1>Fibonacci</h1>
    </header>
    <main>
        {{{body}}}
        <ul id="results">
        </ul>
    </main>
    <footer>
        <h1> Preet Dabhi aka Deathstroke CWID:10459151 </h1>
    </footer>

    <script src="/public/js/form.js"></script>
</body>

</html>